:root {
  --navbar-bg: #213448;
  --app-bg:     #547792;
  --post-bg:    #ECEFCA;
  --comment-bg: #94B4C1;
}

body {
  background-color: var(--app-bg);
}

.navbar-custom {
  background-color: var(--navbar-bg) !important;
}

.post-card {
  background-color: var(--post-bg);
  border-color: var(--post-bg);
  color: #fff;
}

.comment-card {
  background-color: var(--comment-bg);
  border-color: var(--comment-bg);
  color: #000;
}
